.theos/
packages/
plugins/*/.theos/
plugins/*/packages/
*.deb
.DS_Store
DoubaoVoiceHelper.xm
DoubaoVoiceHelper.plist
.ttadk/
/.claude/
/.coco/
/.codex/
/.mcp.json
/ai-plugin.json
/ai-plugin-lock.json
